body {
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 680px) {
  .App {
    width: 660px;
  }
}

@media (max-width: 680px) {
  .App {
    width: 90vw;
  }
}

#root {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

.MyButton {
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-size: 18px;
  white-space: nowrap;
}

.MyButton_default {
  background: #ececec;
  color: #000;
}

.MyButton_positive {
  background: #64c964;
  color: #fff;
}

.MyButton_negative {
  background: #fd565f;
  color: #fff;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}
header > div {
  display: flex;
}
header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: flex-start;
}

header .head_btn_right {
  width: 25%;
  justify-content: flex-end;
}
